Repository yunrap/react-image: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, markdownlint

lint:
  run: pnpm exec eslint {staged_files}

prettier:
  run: pnpm exec prettier --check {staged_files}

markdownlint:
  run: pnpm exec markdownlint {staged_files}

배럴파일및 코드작성
  .eslintignore
  .eslintrc.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/next.tsx
  src/react.tsx
  src/types/index.ts
  src/utils/index.ts
Due: lint, prettier

폴리필위한 롤업플러그인 , 타입추가
  .browserslistrc
  package.json
  pnpm-lock.yaml
  src/utils/index.ts
  tsup.config.mts
  vite.config.mts
Due: lint, prettier

테스트코드, CI설정
  github/workflows/CI.yaml
  package.json
  pnpm-lock.yaml
  src/utils/index.test.ts
Due: lint, prettier

ci 테스트
  src/utils/index.test.ts
Due: lint, prettier

폴더이름변경
  .github/workflows/CI.yaml
Due: prettier

changesets 배포연결
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier

Create lazy-kids-report.md
  .changeset/lazy-kids-report.md
Due: none

패키지명수정
  package.json
Due: prettier

버전 일부 수정
  package.json
  pnpm-lock.yaml
Due: prettier

React를 18로, TypeScript를 API Extractor 호환을 위해 하향 조정
  package.json
  pnpm-lock.yaml
  src/utils/index.ts
Due: lint, prettier

React를 18로, TypeScript를 API Extractor 호환을 위해 하향 조정
  package.json
Due: prettier

react, next 버전 변경
  .github/workflows/CI.yaml
  package.json
  pnpm-lock.yaml
Due: prettier

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{ts,tsx,js,mjs,cjs,jsx,json,yaml,yml}
  markdownlint: any of: *.{md}
